---
---

<script>
  const colors = document.querySelectorAll(".color");
  const colorBar = document.querySelector(".color-bar") as HTMLElement;
  const colorDisplay = document.querySelector(".color-display") as HTMLElement;
  const widthDisplay = document.querySelector(".width-display") as HTMLElement;

  colors.forEach((color) => {
    color.addEventListener("mouseenter", (event) => {
      const target = event.target as HTMLElement;
      const bgColor = target.style.backgroundColor;
      const width = target.style.width;
      colorBar.style.backgroundColor = bgColor;
      colorDisplay.textContent = bgColor;
      widthDisplay.textContent = Math.round(parseFloat(width)).toString() + "%";
    });
  });
</script>

<div class="w-5/6 max-w-5xl flex flex-col gap-2 p-2 border-black border-2">
  <h1 class="font-bold text-xl text-center mt-2">Primary Colors</h1>
  <div class="color-picker h-40 rounded-2xl">
    <div
      class="color"
      style="width: 47.16414570746219%; background-color: #141414"
    >
    </div>

    <div
      class="color"
      style="width: 13.585545203783179%; background-color: #f0f0f0"
    >
    </div>

    <div
      class="color"
      style="width: 9.678441145176619%; background-color: #313131"
    >
    </div>

    <div
      class="color"
      style="width: 8.480159127202388%; background-color: #c3c3c3"
    >
    </div>

    <div
      class="color"
      style="width: 7.477467612162014%; background-color: #535353"
    >
    </div>

    <div
      class="color"
      style="width: 7.075106106126593%; background-color: #9c9c9c"
    >
    </div>

    <div
      class="color"
      style="width: 6.539135098087026%; background-color: #777777"
    >
    </div>
  </div>
  <div class="flex flex-row gap-2 ml-2">
    <div class="width-display">47%</div>
    <div class="color-display">rgb(20, 20, 20)</div>
  </div>

  <div class="color-bar" style="background-color: #141414">&nbsp;</div>
</div>
