---
---

<div class="flex flex-col gap-4">
  <h1 class="font-bold text-3xl sm:text-4xl lg:text-5xl">
    Statistical Analysis and Exploration of Generative AI in Graphic Memoirs
  </h1>
  <p class="indent-8 leading-8">
    Artificial intelligence (AI) is an exciting and rapidly evolving field, but
    its impact on literature has yet to be fully explored. Despite many
    scholarly journals analyzing these memoirs, none have made a direct
    comparison of the unique aspects and techniques presented in each one using
    statistical analysis and machine learning techniques. According to
    Anantrasirichai and Bull’s “Artificial Intelligence in the Creative
    Industries: a Review,” artificial intelligence is described as an
    algorithmic process which allows “a computer system to develop and emulate
    human-like behavior and hence make decisions similar to (or in some cases,
    better than) humans” (591). A large branch of AI is machine learning (ML)
    which “employs computational methods to ‘learn’ information directly from
    large amounts of example data without relying on a predetermined equation or
    model” (591). Among the most recent developments in artificial intelligence
    is generative AI which utilizes algorithms to very accurately create or
    generate text and image content. In the first part of my research I will
    analyze the means in which Marjane Satrapi promotes political and social
    activism, by closely examining the text and image content (features) of her
    memoir utilizing machine learning techniques and generating aggregate
    statistics. I will then follow my analysis with a case study on the
    effectiveness, advantages, and disadvantages of generative AI being used to
    create text and images to disseminate ideologies in the same way graphic
    memoirs like Satrapi’s achieve. While there are previous papers describing
    the influence of Satrapi’s work as a medium to promote political and social
    activism against Iran’s strict Islamic regime (Stromberg 91-119), none
    follow a statistical and machine learning approach to automatically identify
    unique features in Satrapi’s memoir for analysis.
  </p>
</div>
