---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import ColorPicker from "../components/ColorPicker.astro";
---

<Layout title="WR153">
  <div class="grid grid-cols-1 place-items-center gap-4">
    <h1 class="mt-4 font-bold">Dominant Colors</h1>
    <ColorPicker />
  </div>
</Layout>
