---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import ColorPicker from "../components/ColorPicker.astro";
import ResearchPaper from "../content/ResearchPaper.astro";
import FreqTable from "../components/FreqTable.astro";
---

<Layout title="WR153">
  <div class="grid grid-cols-1 gap-4 place-items-center m-4">
    <div class="mx-auto w-5/6 sm:w-2/3">
      <ResearchPaper />
    </div>
    <img
      src="/panel_detection.png"
      class="w-full sm:w-2/3"
      alt="Panel Detection"
    />
    <ColorPicker />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
      <FreqTable />
      <img src="/word_cloud.png" />
    </div>
  </div>
</Layout>
